<%- include('partials/header.ejs') %>

<h2><%= review.title %></h2>
<sm><%= review.movieTitle %></sm>
<p><%= review.description %></p>
<p><%= review.rating %></p>
<a href="/">Back</a>
<%- include('partials/footer.ejs') %>